h1 {
    color: #A87676 !important;
    text-align: center !important;
}

h2 {
    color: #CA8787 !important;
}

h3 {
    color: #E1ACAC !important;
}
body {
    display: flex;
    flex-direction: column;
    
    min-height: 95vh;
    align-items: center;
    background-color: #FFD0D0 !important;
  } 
  li {
    color: #F2C18D;
  }
  p {
    font-size: 18px;
    font-weight: bold;
    color: #75A47F;
  }

